*,
body {
    margin: 0;
    padding: 0;
}

.primaryBtnStyles {
    text-transform: none;
    margin: 5px 10px !important;
}

.primaryBtnStyles .MuiButton-icon {
    margin-left: 0px !important;
    margin-right: 5px !important;
}